* {
    margin: 0;
    padding: 0;
}
p {
	margin: 5px;
	font-size: 20px;
}
@font-face {
	font-family: "Ermilov";
	src: url("../fonts/Ermilov-bold.otf") format("truetype");
}
h1 {
	font-family: "Ermilov";
	text-decoration: uppercase;
	letter-spacing: 15px;
	font-size: 50px;
	text-align: center;
	color:  white;
	display: block;
	margin: 30px 10% 0;
	padding: 0 15px;
	background: #2E2F45;
	mix-blend-mode: multiply;
	border-radius: 50px 50px 0 0;
}
h2 {
	display: inline-block;
	margin: 1px 3%;
	padding: 0 5px;
	font-size: 20px;
	border: 1px dotted black;
	background-color: white;
}
h3 {
	transition-duration: .5s;
	color: white;
	margin: 0 20%;
	padding: 0 5px;
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	background: #2E2F45;
	mix-blend-mode: multiply;
}
h3:hover {
	transition-duration: .3s;
	color: black;
	background-color: white;
}
h4 {
	font-family: "Ermilov";
	font-size: 100px;
	text-decoration: underline;
	text-align: center;
	color:  white;
	display: block;
	margin: 30px 20% 0;
	padding: 20px 15px;
	background: #2E2F45;
	mix-blend-mode: multiply;
	border-radius: 50px 50px 0 0;
}
h5 {
	font-family: "Ermilov";
	font-size: 50px;
	text-decoration: underline;
	text-align: center;
	color:  white;
	display: block;
	margin: 0 20% 30px;
	padding: 20px 15px;
	background: #2E2F45;
	mix-blend-mode: multiply;
	border-radius: 0 0 50px 50px;
}
h6 {
	font-size: 20px;
	color:  white;
	display: block;
	margin: 0 10% 30px;
	padding: 20px 15px;
	background: #2E2F45;
	mix-blend-mode: multiply;
	border-radius: 0 0 50px 50px;
}
body {
  background: linear-gradient(90deg, #e5f1ff, #ffb8b8, #fbffb8, #fcffe5, #fff7e5, #e5f1ff);
  animation: background 15s infinite alternate;
}
@keyframes background {
  100% {
    background-position: 2000px 0;
  }
}
div {
	position: relative;
	transition-duration: .3s;
	margin: 0 10%;
	padding: 5px;
  background: linear-gradient(90deg, #ffffff 33%, #ecdaff, #71bbff);
  border: 2px solid gray;
  z-index: 100;
}
div:before {
  border-radius: inherit;
  background: linear-gradient(90deg, #ffffff, #ecdaff, #71bbff);
  content: '';    
  display: block;
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: opacity 1.0s;
}
div:hover:before {
  transition: opacity 1.0s;
	opacity: 1;
}
div:before {
  border-radius: inherit;
  background: linear-gradient(90deg, #ffffff, #ecdaff, #71bbff);
  content: '';    
  display: block;
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: opacity .5s;
}
div:hover:before {
	opacity: 1;
}
.electric-kettle {
	stroke: black;
	stroke-width: 50px;
	width: 300px;
}